p {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 300;
}

h4 {
  text-align: center;
}


#portfolio {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
}

.success {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
}


.index {
  background: #000000;
}


.spacer1 {
  background: url("../img/ls.png") no-repeat fixed;
  /*text-align: center;*/
  background-size: 100% 100%;
  max-width: 100%;
  z-index: -350;
}

.spacer2 {
  background: url("../img/kurtbackground.png") no-repeat fixed 100%;
  background-size: 100% 100%;
  z-index: -350;
  max-width: 100%;

}


.spacer3 {
  background: url("../img/sufjan.png") no-repeat fixed;
  background-size: 100% 100%;
  z-index: -350;
  max-width: 100%;
}

div>.inner-spacer {
  padding-top: 18%;
  padding-bottom: 18%;
  background: rgba(0, 0, 0, 0.5);
}


.about {
  padding: 10px;
}

.about-content {
 padding: 30px;
}


.modal-body>img {
  width: 200px;
  height: 200px;
}

.modal-body {
  background: black;
}

.flourish {
  display: flex;
  justify-content: center;
  padding: 1.5%;
}





